{% extends './base.html' %}

{% load comment_block %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block main %}
{% if post %}
    <h1>{{ post.title }}</h1>
        <div>
            <span>作者： {{ post.owner.username }}</span>
            <span>分类： {{ post.category.name }}</span>
        </div>
    <hr>
    {% autoescape off %}
        <p>{{ post.content_html }}</p>
    {% endautoescape %}

    {% endif %}



{#评论模块#}
{# 默认是没有reqeust。path对象的  所以要在进行渲染#}
{% comment_block request.path %}
{% endblock %}



